prefect
prefect_dask
pandas[output-formatting]
python-dotenv
ipykernel
matplotlib
seaborn
pytest
duckdb
google-cloud-storage
google-cloud-bigquery[pandas]
google-cloud-bigquery-storage[fastavro]
scipy<1.13
gensim
scikit-learn