-e ../biovec
prefect --pre
pandas[output-formatting]
python-dotenv
ipykernel
matplotlib
seaborn
pytest
duckdb
google-cloud-storage
google-cloud-bigquery[pandas]
google-cloud-bigquery-storage[fastavro]